* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
::selection {
    background-color: #24262b;
    color: gold;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #24262b;
}
::-webkit-scrollbar-thumb {
    background-color: gold;
}
::selection {
    background-color: black;
    color: gold;
}
.hidden {
    display: none;
}
header {
    width: 100%;
    backdrop-filter: blur(10px);
    overflow: hidden;
}
header > h1 {
    color: #fff;
    padding: 10px 25px;
    text-align: center;
    margin: 10px 30px;
}
.cl {
    width: 40%;
    margin: 3% 5%;
    float: left;
}
#cl_img {
    width: 190px;
}
fieldset {
    border: 3px solid rgb(25, 25, 25);
    backdrop-filter: blur(15px);
    box-shadow: 2px 2px 10px 2px rgb(25, 25, 25);
    color: #fff;
    padding: 20px;
}
.cl_cl {
    float: left;
    width: 45%;
}
.cl_cll {
    float: left;
    width: 55%;
}
.cl_cll h1 {
    text-align: center;
    margin-bottom: 25px;
}
.cl_cll p {
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.btn {
    padding: 10px 20px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    border: 2px solid rgba(36, 38, 43, 0);
    line-height: 30px;
    background-color: rgba(36, 38, 43, 0);
    color: #fff;
}
.btn:hover {
    border-color: #fff;
}
@media (max-width: 1250px) {
    #cl_img {
        width: 150px;
    }
    .cl_cll h1 {
        font-size: 20px;
    }
}
@media (max-width: 1015px) {
    #cl_img {
        width: 130px;
    }
    .cl_cll h1 {
        font-size: 17px;
    }
    .cl_cll p {
        font-size: 12px;
    }
    .btn {
        font-style: 15px;
    }
}
@media (max-width: 880px) {
    .cl {
        width: 90%;
        margin: 5%;
    }
    #cl_img {
        width: 160px;
    }
    .cl_cll h1 {
        font-size: 28px;
    }
    .cl_cll p {
        font-size: 17px;
    }
    .btn {
        font-style: 15px;
    }
}
@media (max-width: 500px) {
    .cl {
        width: 80%;
        margin: 5% 10%;
    }
    .cl_cl {
        width: 100%;
    }
    .cl_cll {
        width: 100%;
        text-align: center;
    }
    #cl_img {
        width: 150px;
    }
    .cl_cll h1 {
        font-size: 28px;
    }
    .cl_cll p {
        font-size: 17px;
    }
    .btn {
        font-style: 15px;
        text-align: center;
    }
    fieldset {
        box-shadow: 5px 5px 25px 5px rgb(25, 25, 25);
    }
}
@media (max-width: 400px) {
    #cl_img {
        width: 100%;
    }
}
@media (max-width: 340px) {
    .cl_cll h1 {
        font-size: 20px;
    }
    .cl_cll p {
        font-size: 12px;
    }
    .btn {
        font-style: 10px;
    }
}
/* Prepered by Habibulloh */